.cell {
  border-radius: 6px;
  width: 100px;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  font-weight: 400;
}

.cell:focus {
  outline: none;
}

.cell:hover {
  background-color: var(--light);
  color: var(--dark);
}

.cell.disabled {
  display: none;
}

.GC-good {
  color: var(--dark);
  background-color: var(--secondary);
}

.GC-meh {
  color: var(--dark);
  background-color: #e48a0c;
}

.GC-bad {
  color: var(--dark);
  background-color: #db2e2e;
}
