:root {
  --light: rgba(244, 242, 255, 1);
  --secondary: rgba(222, 247, 156, 1);
  --primary: rgba(132, 107, 255, 1);
  --dark: rgba(19, 0, 115, 1);
  --disabled: #a0b271;
}

@font-face {
  font-family: "Magilio";
  src: url("../fonts/Magilio.ttf") format("truetype");
}

body {
  font-family: "Helvetica", sans-serif;
  margin: 0;
  overflow: hidden;
}

.btn {
  color: var(--dark);
  padding: 6px 17px 7px 17px;
  background: var(--secondary);
  border-radius: 50px;
  border: 1px solid var(--secondary);
}

.btn:hover:not(:disabled) {
  color: var(--secondary);
  background: var(--dark);
  border: 1px solid var(--dark);
}

.btn:disabled {
  background-color: var(--disabled);
  border: 1px solid var(--disabled);
  opacity: 0.3;
}

.btn-outlined {
  color: var(--Secondary, #def79c);
  background: transparent;
  padding: 6px 17px 7px 17px;
  border-radius: 50px;
  border: 2px solid var(--Secondary, #def79c);
}

.btn-outlined:hover:not(:disabled) {
  color: var(--dark);
  border: 2px solid var(--dark);
}

.btn-outlined:disabled {
  opacity: 0.3;
}

#root {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: var(--primary);
}

.form-control {
  display: block;
  color: var(--dark);
  width: 100%;
  padding: 4px 8px;
  margin: 5px 0 10px 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  background-color: var(--light);
  background-clip: padding-box;
  border: 1px solid var(--light);
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  box-sizing: border-box;
}

.form-control:focus {
  background-color: #fff;
  border-color: var(--primary);
  outline: 0;
  box-shadow: 0 0 0 0.1rem var(--dark);
}

.form-control::placeholder {
  color: #6c757d;
  opacity: 1;
}
