.LP-img1 {
  margin-left: 91px;
  width: 121px;
  height: 180px;
}

.LP-img2 {
  position: absolute;
  top: 60%;
  left: 56%;
  width: 164px;
  height: 174px;
}

.LP-GS-img1 {
  position: absolute;
  top: 12%;
  left: 21%;
}

.LP-GS-img2 {
  position: absolute;
  top: 47%;
  right: 13%;
}

.LP-GS-img3 {
  position: absolute;
  left: 12%;
  bottom: 2%;
}

.LP-text {
  width: 100%;
  color: var(--dark);
  text-align: left;
  margin-left: 100px;
}

.LP-text.form {
  margin-left: 70px;
}

.LP-text.form h1 {
  font-size: 48px;
  margin-bottom: 40px;
}

.LP-text.form span {
  font-family: Magilio, sans-serif;
}

.LP-text.form p {
  font-size: 20px;
}

.LP-h1 {
  width: 43%;
  font-size: 64px;
}

.LP-h1 span {
  font-family: Magilio, sans-serif;
}

.LP-p {
  width: 43%;
  font-size: 30px;
}

.LP-main {
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.LP-btn {
  margin: 0 0 100px 100px;
}

.react-aria-TextField {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.LP-input {
  color: var(--dark);
  width: 51.6%;
  margin-top: 45px;
  border: none;
  border-bottom: 2px solid var(--dark);
  outline: none;
  background-color: transparent;
  font-size: x-large;
  text-align: center;
}

.LP-GS-btn {
  margin: 0 10px;
}

.LP-form {
  width: 100%;
}

.LP-btn-div {
  width: 100%;
  margin-top: 55px;
  display: flex;
  justify-content: center;
}

.GS-h1 {
  margin-top: 80px;
}

@media (max-width: 575px) {
  .LP-img1,
  .LP-img2 {
    display: none;
  }

  .LP-text,
  .LP-btn {
    margin-left: 20px;
    margin-right: 20px;
  }

  .LP-h1 {
    font-size: 54px;
  }

  .LP-h1,
  .LP-p {
    width: 80%;
  }
}

@media ((min-width: 576px) and (max-width: 767px)) {
  .LP-img1,
  .LP-text,
  .LP-btn {
    margin-left: 30px;
    margin-right: 30px;
  }

  .LP-img2 {
    left: 73%;
  }

  .LP-h1,
  .LP-p {
    width: 80%;
  }
}

@media ((min-width: 768px) and (max-width: 991px)) {
  .LP-img1,
  .LP-text,
  .LP-btn {
    margin-left: 30px;
    margin-right: 30px;
  }

  .LP-img2 {
    left: 77%;
  }

  .LP-h1,
  .LP-p {
    width: 82%;
  }
}

@media ((min-width: 992px) and (max-width: 1199px)) {
  .LP-img1,
  .LP-text,
  .LP-btn {
    margin-left: 50px;
    margin-right: 50px;
  }

  .LP-img2 {
    left: 72%;
  }

  .LP-h1,
  .LP-p {
    width: 69%;
  }
}

@media ((min-width: 1200px) and (max-width: 1535px)) {
  .LP-img1,
  .LP-text,
  .LP-btn {
    margin-left: 50px;
    margin-right: 50px;
  }

  .LP-img2 {
    left: 65%;
  }

  .LP-h1,
  .LP-p {
    width: 57%;
  }
}
